*.cache/
*.hw/
*.ip_user_files/
*.runs/
*.sim/
*.vcd
!*.bit
*.xpr
*.log
*.jou
*.str
*.json
*.jou
*.wpc
*.pb
*.rpt
*.rpx
*.dcp
*.tcl
*.vdi
*.xml
*.js
*.sh
*.vds
*.edif
*.lpr
*.rtd
*.wdf
*.vhdl
*.vhd
*.xdc
*.xci
*.txt
*.veo
*.vho
*.jou